.container-1 {
  display: flex;
}

.container-2 {
  display: flex;
  justify-content: flex-start;
  /*
  justify-content: flex-start;
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-around;
  */
  justify-content: space-around;
}

.container-1 div,
.container-2 div {
  border: 1px #ccc solid;
  padding: 10px;
}

box-1 {
  flex: 1;
}

box-2 {
  flex: 1;
}

box-3 {
  flex: 1;
}

.container-2-box {
  flex-basis: 27%;
}

